<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.javier.edukka">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.LoginActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SignupActivity"
            android:parentActivityName=".view.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.LoginActivity" />
        </activity>
        <activity android:name=".view.MainActivity" />
        <activity
            android:name=".view.SearchActivity"
            android:parentActivityName=".view.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>
        <activity
            android:name=".view.GameActivity"
            android:parentActivityName=".view.SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.SearchActivity" />
        </activity>
        <activity
            android:name=".view.ProfileActivity"
            android:parentActivityName=".view.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>
        <activity
            android:name=".view.ClassActivity"
            android:parentActivityName=".view.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>
        <activity
            android:name=".view.GameEditActivity"
            android:parentActivityName=".view.GameActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.GameActivity" />
        </activity>
        <activity
            android:name=".view.ProfileEditActivity"
            android:parentActivityName=".view.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ProfileActivity" />
        </activity>
        <activity
            android:name=".view.ClassEditActivity"
            android:parentActivityName=".view.ClassActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ClassActivity" />
        </activity>
        <activity
            android:name=".view.HistoryActivity"
            android:parentActivityName=".view.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>
        <activity
            android:name=".view.StatisticsActivity"
            android:parentActivityName=".view.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>
        <activity
            android:name=".view.ClassNewActivity"
            android:parentActivityName=".view.ClassActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ClassActivity" />
        </activity>
        <activity
            android:name=".view.GameLookActivity"
            android:parentActivityName=".view.GameActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.GameActivity" />
        </activity>
        <activity
            android:name=".view.PlayActivity"
            android:parentActivityName=".view.GameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.GameActivity" />
        </activity>
        <activity
            android:name=".view.GameCreateActivity"
            android:parentActivityName=".view.SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.SearchActivity" />
        </activity>
        <activity
            android:name=".view.GameModifyActivity"
            android:parentActivityName=".view.SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.SearchActivity" />
        </activity>
        <activity
            android:name=".editor.DragDropEditorActivity"
            android:parentActivityName=".view.GameModifyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.GameModifyActivity" />
        </activity>
        <activity
            android:name=".editor.PickerEditorActivity"
            android:parentActivityName=".view.GameModifyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.GameModifyActivity" />
        </activity>
        <activity
            android:name=".editor.DragNameEditorActivity"
            android:parentActivityName=".view.GameModifyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.GameModifyActivity" />
        </activity>
        <activity
            android:name=".editor.CheckboxEditorActivity"
            android:parentActivityName=".view.GameModifyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.GameModifyActivity" />
        </activity>
        <activity
            android:name=".editor.CompleteEditorActivity"
            android:parentActivityName=".view.GameModifyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.GameModifyActivity" />
        </activity>
        <activity
            android:name=".editor.DragImageEditorActivity"
            android:parentActivityName=".view.GameModifyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.GameModifyActivity" />
        </activity>
        <activity
            android:name=".editor.ImageEditorActivity"
            android:parentActivityName=".view.GameModifyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.GameModifyActivity" />
        </activity>
        <activity
            android:name=".editor.SpinnerEditorActivity"
            android:parentActivityName=".view.GameModifyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.GameModifyActivity" />
        </activity>
        <activity
            android:name=".editor.SelectEditorActivity"
            android:parentActivityName=".view.GameModifyActivity"></activity>
        <activity
            android:name=".editor.SoundEditorActivity"
            android:parentActivityName=".view.GameModifyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.GameModifyActivity" />
        </activity>
    </application>

</manifest>